.el-main {
	box-sizing: border-box;
	padding: 24px;

	// overflow-x: hidden;
	background-color: #f0f2f5;

	/* 当 width <= 1200px 时，执行 样式1 */
	@media (max-width: 1200px) {
		padding: 10px;
	}

	/* 当 1919px <= width <= 1201px 时，执行 样式2 */
	@media (min-width: 1201px) and (max-width: 1919px) {
		padding: 16px;
	}

	/* 当 width >= 1920px 时，执行 样式3 */
	@media (min-width: 1920px) {
		padding: 24px;
	}
	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		background-color: #f0f2f5;
	}
	&.is-fill {
		padding: 0;
	}
}
.el-footer {
	height: auto;
	padding: 0;
}
