@use "../mixins.scss" as *;
@use "../config.scss" as *;

@include b(tool) {
	position: absolute;
	right: 5px;
	bottom: 50px;
	z-index: var(--#{$namespace}-overlay-zindex);
	display: flex;
	flex-direction: column;
	width: 18px;
	height: auto;
	&_button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		padding: 0;
		margin-bottom: 5px;
		overflow: hidden;
		font-size: var(--#{$namespace}-font-size);
		color: var(--#{$namespace}-color);
		cursor: pointer;
		background-color: var(--#{$namespace}-background-color);

		&.help {
			.box-popover {
				position: absolute;
				right: 20px;
				bottom: 10px;
				width: 280px;
				padding: 0;
				background-color: var(--#{$namespace}-background-color);
				border-width: 0;
				border-radius: 10px;
			}
			.cesium-navigation-help {
				position: relative;
				top: 0;
				right: 0;
				left: 0;
				width: auto;
				height: 280px;
				margin: 0;
				border-width: 0;
				.cesium-navigation-button {
					display: inline-block;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}
				.cesium-navigation-help-instructions {
					background-color: transparent;
					border: 0;
				}

				.cesium-navigation-button-selected {
					background-color: var(--#{$namespace}-color-active);
				}
			}
		}

		&.view-set {
			&[disabled="true"] {
				cursor: not-allowed;
			}
		}

		&.imagery {
			position: relative;
			overflow: visible;
			.imageryChoose {
				position: absolute;
				right: 25px;
				bottom: 0;
				width: 300px;
				padding: 8px;
				cursor: auto;
				background-color: var(--#{$namespace}-background-color);
				.label {
					margin-bottom: 8px;
					font-weight: bold;
				}
				.list {
					display: flex;
					flex-wrap: wrap;
					align-content: space-around;
					justify-content: space-around;
					width: 100%;
					border: 1px solid #cccccc;
					border-radius: 4px;
					.item {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 60px;
						height: 60px;
						padding: 5px;
						margin: 5px 0;
						font-size: 12px;
						color: #000000;
						text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
						background-repeat: no-repeat;
						background-size: 100% 100%;
						&:hover {
							color: var(--#{$namespace}-color-active);
							cursor: pointer;
						}
					}
				}
			}
		}

		.svg-icon {
			width: 16px;
			height: 16px;
			object-fit: contain;
		}
	}
}
